.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  body {  
   background-color: #FFF5DA ;
  }

  hr{
    background-color: #FFF5DA;
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 5px;
    width: 5%;;
  }